.card {
    background: rgb(206, 199, 199);
    width: auto;
    padding: 0.5em;
    transition: all 0.25s ease-in-out;
    cursor: grab;
    margin: 2em auto;
    height: 70vh;
}

.card > img {
    height: 90%;
}

.card > p {
    font-size: 1em;
    font-weight: bold;
    padding-top: 15px;
    text-align: center;
}

  
.card:active {
    cursor: grabbing;
}

.card:hover {
    transform: scale(1.05);
}
